.no-break {
  break-inside: avoid;
}

@media not print {
  .is-only-print {
    display: none !important;
  }
}

@media print {
  .is-hidden-print {
    display: none;
  }

  section.container,
  header.container {
    margin: 0 !important;
    padding: 0 !important;
  }

  hr,
  button.button,
  span.tag,
  .job {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .job {
    margin-bottom: 1rem;

    border-top: 2px solid hsl(217, 71%, 53%);
  }

  .job table, .job tr, .job th, .job td {
    border: none !important;
  }

  .job ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .job li {
    border-left: 2px solid hsl(217, 71%, 53%);
    padding-left: 0.5rem;
    margin: 0;
    margin-bottom: 0.75rem;
  }

  #skill-section .is-fullwidth {
    width: 99% !important;
  }
}
