<section class="container px-3" id="skill-section">
  <h2 class="title is-size-4">
    &#129337;
    Skills
  </h2>

  <table class="table is-bordered is-hoverable is-narrow is-fullwidth">
    <tbody>
      {{ range $skill := .Site.Data.skills }}
        <tr>
          <th class="is-narrow">{{ $skill.category }}</th>
          <td>
            {{ range $tech := $skill.technologies }}
              <span class="tag">{{ $tech.name }}</span>
            {{ end }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>

  <hr class="is-hidden-print" />
</section>