{{- $jobs := .Site.Data.jobs -}}
{{- $nb_jobs := len $jobs -}}
{{- $jobs_reversed := slice -}}
{{- range seq $nb_jobs -}}
  {{- $jobs_reversed = $jobs_reversed | append (index $jobs (sub $nb_jobs .)) }}
{{- end -}}

<section class="container px-3 mb-6">
  <div class="content">
    <h2 class="title is-size-4">
      &#128197;
      Experience
    </h2>

    <div class="timeline is-hidden-print">
      {{ range $jobs_reversed }}
        <div class="timeline-item" data-job>
          <div class="timeline-marker is-link is-icon">
            <span class="icon">
              <span class="far fa-calendar-check"></span>
            </span>
          </div>
          <div class="timeline-content pl-1" style="width: 100%;">
            <article class="container mt-3 pl-4" style="border-top: 2px solid royalblue;">
              <table class="table is-fullwidth">
                <tr>
                  <td>{{ .startDate }}</td>
                  <td>{{ .company }}</td>
                </tr>
                <tr>
                  <td>{{ .endDate }}</td>
                  <td>{{ .title }}</td>
                </tr>
              </table>
              <p class="has-text-info has-text-weight-bold is-italic">
                Context: {{ .context | markdownify }}
              </p>
              <p><b>Missions:</b></p>

              {{ range .missions }}
                <article
                  class="box is-shadowless is-radiusless has-background-light"
                  data-job-mission-tags="{{ .tags | jsonify }}"
                >
                  {{ .description | markdownify }}

                  <hr class="my-2 has-background-grey-light" />

                  <p class="has-text-link-dark has-text-weight-bold is-italic">
                    Environment: {{ delimit .environment ", " }}
                  </p>
                </article>
              {{ end }}
            </article>
          </div>
        </div>
      {{ end }}
    </div>

    <div class="is-only-print">
      {{ range $jobs_reversed }}
        <article class="job">
          <table class="table is-narrow is-fullwidth">
            <tbody class="no-break">
              <tr>
                <td class="is-narrow">
                  <span class="has-text-weight-bold">From: </span>
                  {{ .startDate }}
                </td>
                <td>
                  <span class="has-text-weight-bold">{{ .title }}</span>
                  <span class="is-italic"> at </span>
                  <span class="has-text-weight-bold">{{ .company }}</span>
                </td>
              </tr>
              <tr>
                <td class="is-narrow">
                  <span class="has-text-weight-bold">To: </span>
                  {{ .endDate }}
                </td>
                <td class="has-text-info has-text-weight-bold is-italic">
                  Context: {{ .context | markdownify }}
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2">
                  <b>Missions:</b>

                  <ul>
                    {{ range .missions }}
                      <li class="no-break">
                        {{ .description | markdownify }}
                        <br />
                        {{ if .environment }}
                        <b>Environment: </b>
                        <span class="is-italic">{{ delimit .environment ", " }}</span>
                        {{ end }}
                      </li>
                    {{ end }}
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      {{ end }}
    </div>
  </div>
</section>