@media not print {
  .is-only-print {
    display: none !important;
  }
}

@media print {
  .is-hidden-print {
    display: none;
  }

  section.container,
  header.container,
  .timeline-item {
    margin: 0 !important;
    padding: 0 !important;
  }

  .timeline-marker {
    display: none !important;
  }

  hr,
  button.button,
  .box {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .box {
    break-inside: avoid;
  }

  #skill-section .is-fullwidth {
    width: 99% !important;
  }
}
