<title>{{ .Site.Title }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="author" content="{{ .Site.Data.profile.fullname }}" />
<meta name="title" content="{{ .Site.Title }}" />
<meta name="description" content="{{ .Site.Data.profile.title }} - {{ .Site.Params.Description }}" />
<meta name="og:title" content="{{ .Site.Title }}" />
<meta name="og:description" content="{{ .Site.Data.profile.title }} - {{ .Site.Params.Description }}" />
<meta name="twitter:title" content="{{ .Site.Title }}" />
